@model HBL_MLDV_APP.Areas.Creator.Models.ACH_mst
@using (Html.BeginForm("PostingFinancialApi", "Home",new {@Area="" }))
{

    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.acc_no, new { @Value = "HABL2323121" })

<div class="col-sm-6 table-responsive">
    <table id="tblfp" class="table table-bordered table-hover" role="grid" aria-describedby="example2_info">
        <tbody>
            @{ if (Model != null)
                     {
                        <tr><td style="background-color: #f9f9f9;font-weight:bold;">@Html.LabelFor(x => x.FinancialstApi.reference_no)</td><td>@Html.TextBoxFor(x => x.FinancialstApi.reference_no, new { @class = "form-control", @readonly = "readonly" })</td></tr>
                        <tr><td style="background-color: #f9f9f9;font-weight:bold;">@Html.LabelFor(x => x.FinancialstApi.Time_Created)</td><td>@Html.TextBoxFor(x => x.FinancialstApi.Time_Created, new { @class = "form-control", @readonly = "readonly" })</td></tr>
                        <tr><td style="background-color: #f9f9f9;font-weight:bold;">@Html.LabelFor(x => x.FinancialstApi.title_name)</td><td>@Html.TextBoxFor(x => x.FinancialstApi.title_name, new { @class = "form-control", @readonly = "readonly" })</td></tr>

                    }
                    else
                    {
                        <tr><td style="background-color: #f9f9f9;font-weight:bold;">@Html.LabelFor(x => x.FinancialstApi.reference_no)</td><td><input type="text" readonly class="form-control" /></td></tr>
                        <tr><td style="background-color: #f9f9f9;font-weight:bold;">@Html.LabelFor(x => x.FinancialstApi.Time_Created)</td><td><input type="text" readonly class="form-control" /></td></tr>
                        <tr><td style="background-color: #f9f9f9;font-weight:bold;">@Html.LabelFor(x => x.FinancialstApi.title_name)</td><td><input type="text" readonly class="form-control" /></td></tr>
                    }



            }
        </tbody>
    </table>
</div>


<div class="card col-sm-6 col-md-3 col-sm-push-4">

    <div class="card-body">


        @if (ViewBag.canFP)
        {
            <div>
                <input type="submit" name="Checktrans" id="Checktrans" class="btn btn-info" value="Transaction Posting" />
            </div>
        }

</div>
       </div>
}